﻿@model ICollection<CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<table class="table table-hover table-responsive-sm my-3">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="EditCategory" asp-route-id="@category.Id" asp-controller="Home">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="CreateProduct" asp-controller="Home" role="button">New Product</a>
<a class="btn btn-primary" asp-action="CreateCategory" asp-controller="Home" role="button">New Category</a>