﻿@model CreateProductCommand
@{
    ViewData["Title"] = "Add New Product";
}

<div class="mx-auto center col-lg-6 col-md-8 col-sm-10 col-xs-12">
    <h2>@ViewData["Title"]</h2>

    <form asp-controller="Home" asp-action="CreateProduct" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="Model.Categories" class="custom-select">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}