﻿@model ICollection<ProductViewModel>
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<table class="table table-hover table-responsive-sm my-3">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.CategoryName</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="EditProduct" asp-route-id="@product.Id" asp-controller="Home">Edit</a>
                    <form method="post">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#removeModal_@product.Id">Remove</button>


                        <div class="modal fade" id="removeModal_@product.Id">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Confirm removing?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" asp-action="DeleteProduct" asp-controller="Home" asp-route-id="@product.Id" >Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="CreateProduct" asp-controller="Home" role="button">New Product</a>
<a class="btn btn-primary" asp-action="CreateCategory" asp-controller="Home" role="button">New Category</a>